:root {
    --primary: #00A1E4;
}

body {
    font-family: 'elza';
    font-weight: 400;
    color: #666666;
    overflow-x: hidden;
    padding-top: 85px;
}

.container {
    max-width: 1380px;
    width: 90%;
}

.inner-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
    padding: 23px 0;
}

div#mega-menu.show {
    right: 0;
}

div#mega-menu {
    background: #06263E;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 111;
    overflow: auto;
}

.mega-menus {
    max-width: 80%;
    padding: 70px 0px;
    height: calc(100% - 85px);
    margin: 0 auto;
}

.title {
    color: var(--primary);
    font-size: 20px;
    margin-bottom: 25px;
}

.navs a {
    font-size: 50px;
    display: block;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    transition: all 0.3s ease-in;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.flex-between h4 {
    margin: 0;
}

a.icon-link {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #c1c1c1;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}

#mega-menu .menus {
    border-right: 1px solid #464646;
    height: 100%;
}

.news h6 {
    margin-top: 24px;
    color: #ababab;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.news p {
    font-size: 17px;
}

#mega-menu .social-container {
    margin-top: 6rem;
}

footer .row>div {
    padding: 50px 0 90px;
}


.menus-f a {
    display: block;
}

.menus-f {
    max-width: 8rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menus-f a {
    color: #999;
    font-size: 18px;
    display: block;
    transition: all 0.3s ease-in;
    font-weight: 400;
}

footer .row>div:last-child {
    padding-left: 2rem;
}

.bottom-footer {
    padding: 3rem 0 4.5rem;
}

.bottom-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #A6A6A6;
}

.bottom-footer p {
    margin: 0;
    font-size: 14px;
}

.bottom-footer a {
    color: #A6A6A6;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 400;
}

.f-links {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
}

footer h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 6px 0;
}

footer {
    background: #1A1A1A;
    position: sticky;
    top: 0;
}

.socials a {
    display: flex;
    width: 100%;
    color: #A6A6A6;
    font-size: 18px;
    font-weight: 400;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

footer h2 {
    font-size: 42px;
    font-weight: 300;
    color: var(--primary);
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in;
}

#mega-menu .socials {
    display: flex;
    gap: 3rem;
}

#mega-menu .socials a {
    width: auto;
    gap: 1rem;
}

div#mega-menu .container {
    height: 100%;
}

.mega-menus .row {
    height: 100%;
}

div#mega-menu .inner-header {
    padding: 0rem 0 0 2rem;
}

h2.heading {
    color: #033558;
    font-size: 55px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.group h4 {
    font-size: 40px;
    font-weight: 400;
    color: #818181;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #818181;
    padding: 1.5rem 0 2.5rem;
    flex-wrap: wrap;
}

.inner-group {
    max-width: 50%;
    display: flex;
    gap: 3rem;
    align-items: flex-start;
}

a.link {
    display: flex;
    align-items: center;
    color: var(--primary);
    text-transform: uppercase;
    font-size: 15px;
    gap: 9px;
    font-weight: 500;
    left: 0;
    max-width: 84%;
    margin: auto;
    right: 0;
}

.group .link {
    flex: none;
}

a.link img {
    width: 15px;
    margin-top: -5px;
}

.group p {
    margin: 0;
}

.groups {
    padding: 80px 0;
    background-color: #fff;
}

section.hero-videos {
    height: calc(100vh - 85px);
    position: relative;
}

section.hero-videos video {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.text {
    font-size: 80px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    font-weight: 500;
    transform: translateY(-50%);
    max-width: 1380px;
    margin: auto;
    width: 90%;
    right: 0;
    padding: 0 15px;
}

.text .normal {
    opacity: 0.75;
}

.video-slider {
    height: 100%;
}

.video-slider .slick-list,
.video-slider .slick-track {
    height: 100%;
}

.dynamic-text {
    font-weight: 700;
    display: none;
    animation-name: slideup;
    animation-duration: 1.5s;
    opacity: 1;
}

.dynamic-text.show {
    display: inline-block;
}

.hero-videos video:not(:first-child) {
    display: none;
}

.menu.open-menu {
    cursor: pointer;
}

section.mid-cnt {
    padding: 100px 0;
}

section.mid-cnt h3 {
    font-size: 40px;
    color: #033558;
    font-weight: 500;
}

h5.nm-p {
    color: #818181;
    font-size: 40px;
    font-weight: 300;
}

@keyframes slideup {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.sm-container {
    max-width: 940px;
}

a.global-cta {
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--primary);
    color: #033558;
    font-weight: 500;
    padding: 0.75rem 2rem;
    gap: 1rem;
    font-size: 16px;
    transition: all 0.3s ease-in;
    text-decoration: none;
}

a.global-cta:hover {
    background: var(--primary);
    color: #fff;
}

section.mid-cnt h5 {
    margin-bottom: 2rem;
}

h1.large-heading {
    font-size: 75px;
    color: var(--primary);
    font-weight: 400;
    max-width: 800px;
    line-height: 1;
    margin-bottom: 3rem;
}

.rec h2 {
    font-size: 80px;
    color: #033558;
    font-weight: 300;
    display: flex;
    gap: 10px;
    align-items: self-end;
    margin: 0;
}

.rec h2 span {
    font-size: 32px;
    margin-bottom: 14px;
}

.rec {
    border-top: 1px solid var(--primary);
    padding-top: 0.5rem;
}

section.feature-brands {
    height: 100vh;
}

.feature-brand-inner {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    transition: all 0.3s ease-in;
    height: 100%;
}

section.psych img {
    display: block;
    border-radius: 2rem;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in;
    width: 100%;
}

section.records {
    padding: 4rem 0 10rem;
}

section.psych {
    height: 100vh;
    position: sticky;
    top: 0;
}

.cnt-sec {
    position: absolute;
    max-width: 1380px;
    margin: auto;
    right: 0;
    left: 0;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
}

section.psych:hover img {
    max-width: 100%;
    border-radius: 0;
}

section.psych:hover img {
    filter: brightness(0.7);
}

.cnt-sec h4 {
    font-size: 40px;
    font-weight: 600;
}

.cnt-sec p {
    font-size: 30px;
    max-width: 29rem;
    font-weight: 500;
    color: #ececec;
}

section.psych.normal img {
    max-width: 100%;
    border-radius: 0;
}

section.news-sec {
    background: #F7FBFC;
    padding: 8rem 0;
}

h2.heading-2 {
    font-size: 50px;
    font-weight: 500;
    color: #033558;
    margin-bottom: 2rem;
}

.news-large .img {
    width: 100%;
    height: 50rem;
    border-radius: 20px;
    overflow: hidden;
}

.news-large {
    position: relative;
}

.news-large .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in;
}

.news-large-cont {
    position: absolute;
    bottom: 3rem;
    color: #fff;
    max-width: 90%;
    margin: auto;
    right: 0;
    left: 0;
}

.news-large-cont h2 {
    font-size: 60px;
    font-weight: 400;
    max-width: 65rem;
}

.news-large-cont h4 {
    font-size: 40px;
    color: var(--primary);
    margin-bottom: 1rem;
    font-weight: 600;
}

.news-grid {
    margin-top: 2rem;
}

.news-block .im img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-g {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
}

.news-g .news-block:last-child {
    height: 18rem;
    overflow: hidden;
}

.news-g .news-block:first-child {
    flex: 1;
}

.news-block {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.news-cont {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 2rem 2rem 5rem;
    transition: all 0.3s ease-in;
}

.news-grid>div:nth-child(2) .news-g .news-block:first-child {
    height: 18rem;
    flex: auto;
    overflow: hidden;
}

.news-grid>div:nth-child(2) .news-g .news-block:last-child {
    flex: 1;
}

.news-cont .link {
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
    justify-content: space-between;
}

.news-block:hover .news-cont {
    top: 0;
}

.news-cont h5 {
    font-weight: 400;
    color: #000;
    font-size: 22px;
    line-height: 1.5;
}

.news-cont p {
    font-weight: 400;
    font-size: 18px;
}

.more {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}

.more .link {
    width: fit-content;
    margin: 0;
}

.more .link img {
    width: 7px;
}

a.link.dark {
    color: #033558;
}

.news-large:hover .img img {
    filter: brightness(0.7);
}

section.heading-cnt {
    padding: 100px 0;
}

section.heading-cnt h4 {
    color: var(--primary);
    font-size: 45px;
}

section.heading-cnt h2 {
    font-weight: 400;
    font-size: 80px;
    color: #033558;
    max-width: 70rem;
    margin: 0;
    line-height: 1.1;
}

section.large-img {
    max-width: 90%;
    margin: auto;
}

section.large-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

h4.ht01 {
    font-size: 50px;
    font-weight: 400;
    color: #A6A6A6;
}

.filters select {
    font-size: 20px;
    font-weight: 500;
    color: #1A1A1A;
    border: none;
    border-bottom: 2px solid #bbbbbb;
    background: transparent;
    padding: 8px 40px 8px 0;
    background-image: url('../images/Arrow.svg');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-appearance: none;
    appearance: none;
    flex: 1;
}

.filters {
    margin: 3rem 0 4rem;
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
}

.filter-results {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
}

.filter-box {
    background: #002e5a;
    text-align: center;
    padding: 3rem 1rem;
    overflow: hidden;
}

.filter-box img {
    max-width: 10rem;
}

.filters input {
    font-size: 20px;
    font-weight: 500;
    color: #1A1A1A;
    border: none;
    border-bottom: 2px solid #bbbbbb;
    background: transparent;
    padding: 8px 40px 8px 0;
    flex: 1;
    outline: none;
}

section.large-img.blog {
    max-width: 100%;
}

section.heading-cnt.blog {
    padding-bottom: 50px;
    padding-top: 60px;
}

section.blog-landing {
    padding: 1rem 0;
}

h2.large-heading {
    font-size: 55px;
    font-weight: 500;
    color: var(--primary);
    max-width: 58rem;
}

.date {
    color: #818181;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid #818181;
    padding: 8px 0;
}

.blog-title-view {
    margin-bottom: 6rem;
}

.blog-tile h4 {
    font-size: 24px;
    color: #1A1A1A;
    font-weight: 400;
    margin-bottom: 1rem;
    max-width: 65%;
    line-height: 1.4;
}

.blog-tile .img {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 2.5rem;
    transition: all 0.3s ease-in;
}

section.blog-landing .row {
    justify-content: space-between;
    margin-bottom: 4rem;
    display: flex;
    gap: 10rem;
}

section.blog-landing .row>div:nth-child(2) {
    margin-top: 20rem;
    max-width: 28rem;
}

section.blog-landing .row>div:nth-child(1) {
    flex: 1;
}

section.blog-landing .row:nth-child(even)>div:nth-child(2) {
    max-width: 560px;
}

.more-cta {
    text-align: center;
    margin-bottom: 7rem;
}

.search-form {
    text-align: right;
    position: relative;
    max-width: 450px;
    margin-left: auto;
    margin-bottom: 3rem;
}

.search-form input {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    border: none;
    border-bottom: 1px solid #999;
    padding: 4px 0;
    width: 100%;
    outline: none;
}

.search-form button {
    position: absolute;
    background: transparent;
    border: none;
    right: 0;
    top: 3px;
}

.search-form button img {
    max-width: 18px;
}

.large-img-container {
    border-radius: 15px;
    overflow: hidden;
}

.large-img-container img {
    transition: all 0.3s ease-in;
    width: 100%;
    height: 100%;
}

.large-img-container:hover img {
    transform: scale(1.05);
    filter: brightness(0.8);
}

.blog-tile:hover img {
    transition: all 0.3s ease-in;
}

.blog-tile:hover .img img {
    transform: scale(1.05);
    filter: brightness(0.8);
}

section.search-results h4 {
    font-size: 30px;
    color: #033558;
    font-weight: 500;
    margin-bottom: 40px;
}

section.search-results {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.search-block-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-block {
    display: flex;
    flex-wrap: wrap;
    gap: 61px;
    border-top: 1px solid #999999;
    padding: 40px 0;
}

.search-block-img {
    max-width: 440px;
    border-radius: 10px;
    overflow: hidden;
    flex: none;
}

.search-block-content {
    flex: 1;
}

.search-block-content h6 {
    font-size: 14px;
    color: #818181;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.search-block-content h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: #1A1A1A;
}
section.heading-cnt.search h2 {
    font-size: 74px;
    line-height: 78px;
}

section.heading-cnt.search h4 {
    font-size: 46px;
    font-weight: 500;
    margin-bottom: 10px;
}
.date-box {
    margin-top: 60px;
}

.date-box h4 {
    font-size: 14px !important;
    color: #818181 !important;
    text-transform: uppercase;
    border-bottom: 1px solid #818181;
    padding-bottom: 7px;
    margin-bottom: 23px !important;
}

.header-socials {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

section.heading-cnt.search {
    padding-bottom: 78px;
}
.blog-single {
    padding-top: 89px;
    max-width: 940px;
    margin: auto;
}

.top-area .img {
    width: 191px;
    height: 191px;
    border-radius: 50%;
    overflow: hidden;
    flex: none;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-area {
    display: flex;
    gap: 2rem;
    align-items: center;
    border-bottom: 1px solid #818181;
    padding-bottom: 65px;
    margin-bottom: 65px;
}

.top-area-content h4 {
    font-size: 19px;
    font-weight: 500;
    color: #000;
}

.blog-single p {
    font-size: 16px;
    color: #1A1A1A;
    font-weight: 400;
    line-height: 27px;
}
.top-area-content {
    max-width: 34rem;
}

.blog-single h2 {
    font-size: 46px;
    font-weight: 500;
    color: var(--primary);
    margin-bottom: 82px;
}

.mid-area h3 {
    font-size: 30px;
    font-weight: 500;
    color: #1A1A1A;
    margin-bottom: 6px;
}

.mid-area p {
    font-size: 19px;
    line-height: 35px;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mid-area .video {
    margin: 55px 0;
}
.recents {
    background: #F7FBFC;
    padding: 110px 0;
    margin-top: 140px;
}
.recents h2 {
    font-size: 41px;
    color: #033558;
    font-weight: 400;
    margin-bottom: 70px;
}
.mid-area img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 55px 0;
}
section.news-top {
    background: #F7FBFC;
    padding: 107px 0;
    margin-bottom: 65px;
}
h4.blue-title {
    font-size: 41px;
    font-weight: 500;
    line-height: 52px;
    color: var(--primary);
}

.news-cnt h4 {
    margin-bottom: 2rem;
}

.news-cnt .date {
    border-bottom: 1px solid var(--primary);
}

.blog-title-view .large-img-container {
    margin-bottom: 54px;
}
section.heading-cnt.search.news {
    padding-bottom: 0;
}
.blog-single.news img {
    border-radius: 10px;
}

.blog-single.news {
    padding-top: 50px;
    padding-bottom: 150px;
}
section.heading-cnt.impact {
    padding: 160px 0 80px;
}
h4.light-heading {
    font-size: 42px;
    font-weight: 500;
    line-height: 52px;
    color: #033558;
}

p.norm-t {
    font-size: 20px;
    font-weight: 400;
    color: #1A1A1A;
    line-height: 32px;
}

.commit-row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #818181;
    padding: 22px 0 80px;
}

.commit-row .img {
    width: 98px;
}

.charit-content {
    max-width: 690px;
    flex: 1;
}
.commit-row .light-heading {
    max-width: 21rem;
}
.commit-row:last-child {
    border: none;
}

.charit-content p {
    font-size: 18px;
    color: #404040;
    line-height: 30px;
}

.charit-content h5 {
    color: var(--primary);
    font-size: 30px;
    font-weight: 500;
}

.commit-row .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
section.commitment {
    padding: 70px 0;
}
h4.large-h {
    font-size: 84px;
    font-weight: 400;
    color: #033558;
    margin-bottom: 120px;
}

.impact-lgs {
    margin-top: 40px;
}
.impact-lgs-block-content {
    max-width: 560px;
}

.impact-lgs-block .row {
    align-items: flex-end;
}

.impact-lgs-block-content p {
    font-size: 20px;
    font-weight: 400;
    color: #666;
}

.impact-lgs-block {
    margin-bottom: 160px;
}
.impact-lgs-block:nth-child(even) .impact-lgs-block-content {
    margin-left: auto;
}
.impact-lgs h4.blue-title {
    font-weight: 400;
    max-width: 1000px;
    margin-bottom: 8rem;
}
.more-cta.left h4 {
    font-size: 46px;
    font-weight: 500;
    color: #A6A6A6;
    margin-bottom: 30px;
    max-width: 60rem;
}

.more-cta.left {
    text-align: left;
}
section.static-content {
    background: #F7FBFC;
    padding: 10px 0 55px;
    font-size: 19px;
    color: #000;
    line-height: 35px;
    font-weight: 400;
}

section.static-content h4 {
    font-size: 30px;
    font-weight: 500;
    color: #033558;
    margin-bottom: 30px;
    margin-top: 70px;
}
section.heading-cnt.static {
    padding: 160px 0 50px;
}

section.heading-cnt.static .container {
    max-width: 940px;
}

section.static-content .container {
    max-width: 940px;
}
.row-flex {
    display: flex;
    gap: 7rem;
    align-items: flex-end;
}

.row-flex div {
    flex: 1;
}

.img-rounded {
    border-radius: 10px;
    overflow: hidden;
}

.img-rounded img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carerrs .img-rounded:first-child {
    height: 25rem;
}
.row.sm-row {
    max-width: 40rem;
    margin: 1rem auto;
    display: flex;
    gap: 4rem;
}

.row.sm-row .img-rounded:last-child {
    height: 14rem;
}
.row.sm-row div {
    flex: 1;
}

.row.sm-row .img-rounded:first-child {
    max-width: 15rem;
    height: 17rem;
    margin-top: 10rem;
}

.carerrs .img-rounded:last-child {
    margin-bottom: 10rem;
}
.container.car-row {
    margin: 150px auto;
}
.career-impact {
    background-image: url('../images/impact.png');
}
section.career-impact {
    height: 100vh;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    padding: 7rem 0;
    margin-bottom: 3rem;
}

section.career-impact h4 {
    font-size: 58px;
    font-weight: 400;
    color: #fff;
    max-width: 36rem;
    line-height: 62px;
    margin-bottom: 2rem;
}

a.global-cta.filled {
    background: #fff;
    border-width: 2px;
}
section.spotlight {
    padding: 140px 0;
}

section.spotlight h2 {
    margin-bottom: 0;
}

 h2.light-gray {
    color: #A6A6A6;
    font-weight: 400;
    margin-bottom: 2rem;
}

section.spotlight {
    padding: 140px 0;
}

section.spotlight h2 {
    margin-bottom: 0;
}

section.jobs.spotlight h2 {
    max-width: 60rem;
}
h2.light-gray {
    color: #A6A6A6;
    font-weight: 400;
    margin-bottom: 2rem;
}

section.spotlight a.link {
    margin: 1.5rem 0 3rem;
    color: #033558;
    border-bottom: 1px solid var(--primary);
    display: inline-block;
}

.spot-box {
    background: #fff;
    box-shadow: 0px 4px 65px 0px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    padding: 3rem;
    max-width: 789px;
}

.spot-box p {
    font-size: 25px;
    color: #404040;
    font-weight: 400;
    margin-top: 14px;
    margin-bottom: 0;
}

.spot-box h4 {
    margin-top: 78px;
    font-size: 34px;
    font-weight: 600;
    color: var(--primary);
}

.spot-box h5 {
    font-size: 25px;
    font-weight: 400;
    color: #033558;
    margin-bottom: 1rem;
}
section.spotlight a.link img {
    width: 8px;
}
.job-box h4 {
    font-size: 21px;
    font-weight: 500;
    color: #000;
}

.job-box p {
    color: #666;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}
.job-box {
    border: 1px solid #D9D9D9;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in;
}
.job-box-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0 110px;
}
.job-box:hover {
    background: #f5f5f5;
    border-color: #f5f5f5;
}

.job-box:hover .global-cta {
    background: var(--primary);
    color: #fff;
}

a.global-cta.filled:hover {
    background: var(--primary);
    color: #fff;
}
.no-bg{
    background-color: #fff !important;
}
section.heading-cnt.hiring {
    padding: 100px 0 0px;
}
section.static-content table {
    margin: 3rem 0;
}

section.static-content table tbody tr {
    border-bottom: 1px solid #c1c1c1;
}

section.static-content table tbody tr td {
    padding: 16px 10px;
}
.table {
    overflow: auto;
    width: 100%;
}
.contact .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.5rem;
}
.bg-sky{
    background: #F7FBFC;
}
.address {
    padding-top: 20px;
    border-top: 1px solid #818181;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0rem;
    flex-wrap: wrap;
}

section.contact-us.bg-sky {
    padding: 90px 0;
}

.address-cont h4 {
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    color: #033558;
}

.address-cont p {
    font-size: 18px;
    color: #404040;
    line-height: 30px;
}

.address-cont strong {
    display: block;
    font-weight: 500;
}
section.heading-cnt.contact {
    padding: 100px 0 30px;
}
.map {
    overflow: hidden;
}

.map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mega-menus p {
    color: #fff;
}
.navs a:hover {
    color: var(--primary);
}