body{
    background-color: rgb(1, 1, 34);
    overflow-x: hidden;
}
.icon{
    color:white;
    text-align:right
}
.anc>a{
    color: white;
    text-decoration: none;
    text-align: center;
}
.anc>a:hover{
    color:rgb(3, 116, 191);
}
.news{
    color:rgb(213, 206, 206);
  }
  .para2{
    border-left:1px solid rgb(141, 137, 137);
  }
  .in>img{
    width:350px;
    height: 200px;
   
  }
  .b1{
    color:grey;
  }
  .b2{
    color:azure;
  }
  .social>a{
    text-decoration: none;
    color: rgb(163, 161, 161);;
  }